body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s, color 0.5s;
    text-align: center;
}

.welcome-screen, .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

#additional-message {
    display: none;
}

.fade-in {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.content {
    display: none;
    padding: 20px;
}

.dark-mode body {
    background-color: #000;
    color: #fff;
}

.dark-mode .welcome-screen {
    background-color: #000;
    color: #fff;
}
